@page "/"

@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens sixRens

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="OnC">@s</button>

@code {
    private string s = "Test Button";

    private async Task OnC()
    {
        var manager = await sixRens.GetPluginPackageManager();
        s = manager.ToString() ?? manager.插件包.ToString() ?? "?";
    }
}