@page "/Main/{CaseName}"
@inject HttpClient http
@inject NavigationManager NavigationManager
@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens sixRens
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@layout MainLayout

<PageTitle>六壬</PageTitle>
<div class="main">
	<Calendar/>
	<SanZhuan/>
</div>
<TianPan/>

@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@code 
{
	[Parameter]
	public string? CaseName { get; set; }

	private string? currentCaseName;
	private 占例? currentCase;

	private async Task<占例?> GetCase()
	{
		if (CaseName is null)
			return null;
		if (currentCaseName != CaseName)
		{
			currentCase = await storager.GetCase(CaseName);
			currentCaseName = CaseName;
		}
		return currentCase;
	}
}