@page "/Main"

@layout MainLayout
@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens sixRens

<PageTitle>六壬</PageTitle>
<div class="main">
	<Calendar/>
	<SanZhuan/>
</div>

@code {
    private string s = "获取SixRens插件包";
    

    private async Task OnC()
    {
        var manager = await sixRens.GetPluginPackageManager();
        s = manager.ToString() ?? manager.插件包.ToString() ?? "?";
    }
}