@using SixRens.UI.Blazor.Components.SiderBar
@using SixRens.UI.Blazor.Components.Pages.CaseDisplay
@using SixRens.UI.Blazor.Components.Pages.DivinationPractice
@using SixRens.UI.Blazor.Components.Pages.Introduction
@using System.Diagnostics

<PageTitle>六壬吾心</PageTitle>

<div class="page">
	<div class="SiderBar">
		<SiderBar OnCaseSelected="SwitchToCaseDisplayPage"/>
	</div>
	<div class="main">
		<div hidden="@(introductionParameters is null)">
			<IntroductionPage OnPracticeDivinationClicked="SwitchToDivinationPracticePage"/>
		</div>

		<div hidden="@(caseDisplayParameters is null)">
			<CaseDisplayPage Parameters="@caseDisplayParameters"/>
		</div>

		<div hidden="@(divinationPracticeParameters is null)">
			<QiKe />
		</div>
	</div>
</div>

@inject ILogger<Root> logger
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@code
{
	private object? introductionParameters;
	private CaseDisplayParameters? caseDisplayParameters;
	private object? divinationPracticeParameters;
	private void ClearPageParameters()
	{
		introductionParameters = null;	
		caseDisplayParameters = null;	
		divinationPracticeParameters = null;	
	}


	protected override async Task OnInitializedAsync()
	{
		ClearPageParameters();
		introductionParameters = new();
		this.StateHasChanged();
	}

	private async Task SwitchToCaseDisplayPage(long caseId)
	{
		var c = await storager.GetCase(caseId);
		ClearPageParameters();
		this.caseDisplayParameters = new(c.dCase, c.name);
		this.StateHasChanged();
	}

	private async Task SwitchToDivinationPracticePage()
	{
		ClearPageParameters();
		divinationPracticeParameters = new();
		this.StateHasChanged();
	}
}