<button @onclick="Return">返回主页</button>

@inject HttpClient http
@inject NavigationManager NavigationManager
@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens sixRens
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager

@code 
{

    private void Return()
    {
        NavigationManager.NavigateTo("main");
    }
}