@inject NavigationManager NavigationManager

<div @onclick="async () => await OnSelected.InvokeAsync()">
	@CaseName
</div>

@code {
	[Parameter]
	public string CaseName { get; set; } = string.Empty;

	[Parameter]
	public EventCallback OnSelected { get; set; }
}
