@inject NavigationManager NavigationManager
@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens sixRens
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@inject HttpClient http

<PageTitle>起课</PageTitle>
<body>
	<EditForm Model=@Time>
		<InputDate @bind-Value=@Date/>
		<input type="time" @bind-value=@Time/>
	</EditForm>
	
	<button @onclick="ImportTestingCase">导入测试用占例到 IndexedDb 占例库</button>

	<div> 
		<button> 取占例 </button>
		<button> 存占例 </button>
	</div>
	<button class="QiKe-Button" @onclick="QiKe_OnClick"> 起课 </button>
</body>

@code {
	private DateOnly Date = DateOnly.FromDateTime(DateTime.Now);
	private TimeOnly Time = TimeOnly.FromDateTime(DateTime.Now);
	private DateTime Get
	{
		get
		{
			return Date.ToDateTime(Time);
		}
	}

	private void QiKe_OnClick(){
		NavigationManager.NavigateTo("Main");
	}

	private async Task ImportTestingCase()
    {
        var s = await http.GetStringAsync("temp/testingCase.json");
        var c = Core.占例存取.占例.反序列化(s);
        await storager.AddCase("testingCase", c);
    }
}
