<div class="TianPan">
	<div class="TianPan-Item bigbox"></div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="1"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="2"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="3"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="4"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="5"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="6"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="7"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="8"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="9"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="10"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="11"/> </div>
	<div class="TianPan-Item"> <TianPan_Items clockwise_location="12"/> </div>
</div>


@code {

}
