<div class="TianPan">
	<div class="TianPan-Item bigbox"></div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(1)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(2)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(3)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(4)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(5)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(6)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(7)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(8)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(9)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(10)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(11)"/> </div>
	<div class="TianPan-Item"> <TianPan_Items ClockwiseLocation="new(12)"/> </div>
</div>


@code {

}
