div.SiKe {
    width: auto;
}
p.SiKe-Title{
    color:red;
    font-size:20px;
}
p.SiKe-Date{
    font-size:15px;
}
div.SiKe-Unit {
    text-align: center;
    width: 25%;
    border: 5px;
    float:left;
}
div.datetime {
    font-size:15px;
}