div.SiKe {
    width: auto;
}
p.SiKe-Title{
    color:red;
    font-size:max(2vw,20px);
}
p.SiKe-Date {
    font-size: max(1.5vw,15px);
}
div.SiKe-Unit {
    text-align: center;
    width: 25%;
    float:left;
}
div.datetime {
    font-size:max(1.5vw ,15px);
}