@inherits LayoutComponentBase
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@inject ILogger<MainLayout> logger
<div class="page">
	<SiderBar OnCaseSelected="OnCaseSelected"/>
	<div class="main">
		@Body
	</div>
</div>

@code{
	private async Task OnCaseSelected(string caseName)
	{
		logger.LogInformation(caseName);
	}
}