<div class="SanZhuan">
	<p><span class="SanZhuan-Title">初</span> @a1 </p>
	<p><span class="SanZhuan-Title">中</span> @a2 </p>
	<p><span class="SanZhuan-Title">末</span> @a3 </p>
</div>


@code {
	private string a1 = "";
	private string a2 = "";
	private string a3 = "";
}
