body {
}
div.TianPan {
    display: grid;
    grid-template-areas:
        'box1 box2 box3 box4'
        'box5 bigbox bigbox box6'
        'box7 bigbox bigbox box8'
        'box9 box10 box11 box12';
    grid-gap:1rem;
}

div.TianPan-Horizon{
    display:table-row-group;
}

div.TianPan-Unit{
    
}
div.bigbox{
    grid-area:bigbox;
}
div.box1{
    grid-area:box1;
}