<div class="TianPna">
	<div class="TianPan-Horizon">
		<div class="TianPan-Unit box1"><p> 1</p></div>
		<div class="TianPan-Unit box2"><p> 2</p></div>
		<div class="TianPan-Unit box3"><p> 3</p></div>
		<div class="TianPan-Unit box4"><p> 4</p></div>
	</div>
	<div class="TianPan-Horizon">
		<div class="TianPan-Unit box5"><p> 1</p></div>
		<div class="TianPan-Unit bigbox"><p> 2</p></div>
		<div class="TianPan-Unit box6"><p> 4</p></div>
	</div>
	<div class="TianPan-Horizon">
		<div class="TianPan-Unit box7"><p> 1</p></div>
		<div class="TianPan-Unit bigbox"><p> 2</p></div>
		<div class="TianPan-Unit box8"><p> 4</p></div>
	</div>
	<div class="TianPan-Horizon">
		<div class="TianPan-Unit box9"><p> 1</p></div>
		<div class="TianPan-Unit box10"><p> 2</p></div>
		<div class="TianPan-Unit box11"><p> 3</p></div>
		<div class="TianPan-Unit box12"><p> 4</p></div>
	</div>
</div>



@code {

}
