div.SiderBar {
    height: 100%;
    width: auto;
    position: fixed;
}

button.Add{
    height:auto;
    width:100%;
    display:block;
    font-weight:900;
    color:black;
    background-color:white;
    border:5px solid black;
    box-sizing:border-box;
    border-radius:10px;
    margin:10px;
    font-size:max(12px,1.6vh);
}

button.Add:active{
    background-color:lightgreen;
}

dialog {
    position: absolute;
    margin: auto;
    width: 300px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-color: lightgrey;
    border-radius: 20px;
    font-family: KaiTi;
}

button.AddFile {
    background-color: white;
    border-radius: 10px;
    border: 5px solid #313b44;
}

.file{
    opacity : 0;
}

text{
    display:block;
}