<button @onclick="async () => await OnPracticeDivinationClicked.InvokeAsync()">
	点击起课捏！
</button>

<dialog open="@showingFirstTimeDialog">
	<div>HELLO!</div>
	<button @onclick="SetNotFirstTimeUse">OK!</button>
</dialog>

@inject SixRens.UI.Blazor.Services.FirstTimeUseChecker.FirstTimeUseChecker FirstTime
@code
{
	[Parameter]
	public IntroductionParameters? Parameters { get; set; }

	[Parameter]
	public EventCallback OnPracticeDivinationClicked { get; set; }

	private bool showingFirstTimeDialog = false;

	private const string firstTimeHintVersion = "DEBUGING - 0.0.1";

	protected override async Task OnParametersSetAsync()
	{
		showingFirstTimeDialog = !await FirstTime.HasUsed(firstTimeHintVersion);
	}
	
	private async Task SetNotFirstTimeUse()
	{
		await FirstTime.SetUsed(firstTimeHintVersion);
		showingFirstTimeDialog = false;
	}
}