<button @onclick="async () => await OnPracticeDivinationClicked.InvokeAsync()">
	点击起课捏！
</button>

@code
{
	[Parameter]
	public IntroductionParameters? Parameters { get; set; }

	[Parameter]
	public EventCallback OnPracticeDivinationClicked { get; set; }
}