<div>欢迎使用六壬吾心！</div>

<div>
	点击左上角按钮打开侧边栏。
</div>

<button @onclick="async () => await OnPracticeDivinationClicked.InvokeAsync()">
	点击起课
</button>


<dialog open="@showingFirstTimeDialog">
	<div hidden="@installing">
		<div>检测到是首次使用六壬吾心。</div>
		<div>点击下方按钮安装默认插件吧。</div>
		<button @onclick="InstallDefault">配置默认插件和预设</button>
		<button @onclick="SetNotFirstTimeUse">关闭</button>
	</div>
	<div hidden="@(!installing)">
		<div>正在安装中……</div>
	</div>
</dialog>

@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens SixRensService
@inject SixRens.UI.Blazor.Services.FirstTimeUseChecker.FirstTimeUseChecker FirstTime
@code
{
	private const string firstTimeHintVersion = "DEBUGING - 0.0.1";

	private bool showingFirstTimeDialog = false;

	private bool installing = false;

	[Parameter]
	public IntroductionParameters? Parameters { get; set; }

	[Parameter]
	public EventCallback OnPracticeDivinationClicked { get; set; }

	protected override async Task OnInitializedAsync()
	{
		showingFirstTimeDialog = !await FirstTime.HasUsed(firstTimeHintVersion);
	}

	private async Task SetNotFirstTimeUse()
	{
		await FirstTime.SetUsed(firstTimeHintVersion);
		showingFirstTimeDialog = false;
	}

	private async Task InstallDefault()
	{
		installing = true;
		_ = SixRensService.InstallDefaultPlugins().AsTask().ContinueWith(
			(_) => SixRensService.InstallDefaultPresets().AsTask().ContinueWith(
				(_) => {
					installing = false;
					this.StateHasChanged();
				}));
	}
}