div {
    height: 100%;
    width: 10%;
    position: fixed;
}

button.Add{
    height:30px;
    width:100%;
    display:block;
    font-weight:700;
    color:lightcyan;
    background-color:darkgrey;
    border-style:none;
}

button.Add:active{
    background-color:lightgreen;
}

dialog {
    position: absolute;
    margin: auto;
    width: 300px;
    height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-color: lightgrey;
    border-radius: 20px;
    font-family: KaiTi;
}

button.AddFile {
    background-color: white;
    border-radius: 10px;
    border: 5px solid #313b44;
}

.file{
    opacity : 0;
}