div {
    height: 100%;
    width: auto;
    max-width: 200px;
    position: fixed;
}

button.Add{
    height:30px;
    width:100%;
    display:block;
    font-weight:700;
    color:lightcyan;
    background-color:darkgrey;
    border-style:none;
}

button.Add:active{
    background-color:lightgreen;
}

dialog{
    position:absolute;
    margin:auto;
    width:auto;
    height:auto;
}