<div>
	@foreach(string c in cases)
	{
		<SiderBar_Unit CaseName="@c" OnSelected="async () => await OnCaseSelected.InvokeAsync(c)"/>
	}
	<button class="Add">+</button>
	<p> 啥 string </p>
</div>

@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@code {
	private IEnumerable<string> cases = Array.Empty<string>();

	[Parameter]
	public EventCallback<string> OnCaseSelected { get; set; }

	protected override async Task OnInitializedAsync()
	{
		this.cases = await storager.ListCases();
	}
}
