div {
    color: black;
    background-color: white;
    width: auto;
    font-size: max(15px,2vh);
    border-radius:10px;
    border:5px solid black;
    margin: 10px 10px 10px 10px;
    box-sizing:border-box;
    text-align:center;
}

div:hover{
    background-color:aliceblue;
}

div:active{
    background-color:lightgoldenrodyellow;
}