<p>@general <br/>
 <span> @($"{upperBranch:C}") </span> @NullableStemToString(upperStem) <br/> 
@($"{Location:C}{NullableStemToString(lowerStem)}") </p>

@inject ILogger<BranchPlateHouse> logger
@code 
{
	[Parameter]
	public EarthlyBranch Location { get; set; }

	[Parameter]
	public 壬式? Plate { get; set; }

	private 天将 general;
	private EarthlyBranch upperBranch;
	private HeavenlyStem? upperStem;
	private HeavenlyStem? lowerStem;

	private static string NullableStemToString(HeavenlyStem? stem)
	{
		return stem.HasValue ? stem.Value.ToString("C") : "○";
	}

	protected override async Task OnParametersSetAsync()
	{
		if (Plate is null)
			return;

		this.upperBranch = Plate.天地盘.取乘神(this.Location);

		this.upperStem = Plate.起课参数.年月日时.旬所在.获取对应天干(this.upperBranch);
		this.lowerStem = Plate.起课参数.年月日时.旬所在.获取对应天干(this.Location);

		this.general = Plate.天将盘.取乘将(this.upperBranch);
	}
}
