<div class="TianPan">
	<div class="TianPan-Item bigbox"></div>
	<div class="TianPan-Item Position-Zi"> <BranchPlateHouse Location="new(1)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Chou"> <BranchPlateHouse Location="new(2)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Yin"> <BranchPlateHouse Location="new(3)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Mao"> <BranchPlateHouse Location="new(4)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Chen"> <BranchPlateHouse Location="new(5)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Si"> <BranchPlateHouse Location="new(6)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Wu"> <BranchPlateHouse Location="new(7)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Wei"> <BranchPlateHouse Location="new(8)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Shen"> <BranchPlateHouse Location="new(9)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-You"> <BranchPlateHouse Location="new(10)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Xu"> <BranchPlateHouse Location="new(11)" Plate="Plate"/> </div>
	<div class="TianPan-Item Position-Hai"> <BranchPlateHouse Location="new(12)" Plate="Plate"/> </div>
</div>


@code {
	[Parameter]
	public 壬式? Plate { get; set; }
}
