@inject HttpClient http
@inject NavigationManager NavigationManager
@inject SixRens.UI.Blazor.Services.SixRens.ServiceOfSixRens sixRens
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager

<p> @Parameters?.CaseName </p>
<div class="main">
	<Calendar />
	<SanZhuan Plate="Parameters?.Case?.壬式"/>
</div>
<TianPan Plate="Parameters?.Case?.壬式"/>

@inject ILogger<CaseDisplayPage> logger
@inject SixRens.UI.Blazor.Services.DivinationCaseStorager.DivinationCaseStorager storager
@code 
{
	[Parameter]
	public CaseDisplayParameters? Parameters { get; set; }
}