<div>
	<div>
		<p class="SiKe-Title"> 一 </p>
		<p></p>
		<p></p>
		<p></p>
	</div>
	<div>
		<p class="SiKe-Title"> 二 </p>
		<p></p>
		<p></p>
		<p></p>
	</div>
	<div>
		<p class="SiKe-Title"> 三 </p>
		<p></p>
		<p></p>
		<p></p>
	</div>
	<div>
		<p class="SiKe-Title"> 四 </p>
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>

@code {
	[Parameter]
	public char Index { get; set; }

}
