@a <br/>
<span> @b1 </span> @b2 <br/>
@c  

@code {
	private EarthlyBranch clockwiseLocation;
	[Parameter]
	public EarthlyBranch ClockwiseLocation{
		get
		{
			return clockwiseLocation;
		}
		set
		{
			clockwiseLocation = value;
			a = "六合";
			b1 = value.ToString("C");
			b2 = "戊";
			c = "葵巳";
		}
	}

	private string a;
	private string b1;
	private string b2;
	private string c;
}
