<div class="TianPan">
	<div class="TianPan-Item bigbox"></div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(6)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(7)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(8)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(9)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(5)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(10)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(4)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(11)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(3)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(2)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(1)" Plate="Plate"/> </div>
	<div class="TianPan-Item"> <TianPan_Items Location="new(12)" Plate="Plate"/> </div>
</div>


@code {
	[Parameter]
	public 壬式? Plate { get; set; }
}
